extends /layouts/application.pug

block content
  .container
    h1.text-center.my-5 Add task
    .row.justify-content-center.pb-8
      .col-12.col-lg-6
        +formFor(f, { url: urlFor('tasks'), method: 'post' })
          +input(f, 'name', 'Name')
          +input(f, 'description', 'Description')
          +select(f, 'status', 'Status', defaultStatus)
          +select(f, 'assignedTo', 'Assigned to', users)
          +input(f, 'tags', 'Tags')
          +button('Add task')
          a.btn.btn-light.btn-block(href=urlFor('tasks')) Cancel
