extends /layouts/application.pug

block content
  .container
    h1.text-center.my-5 Log In
    .row.justify-content-center.pb-5
      .col-12.col-lg-4
        +formFor(f, { url: urlFor('session'), method: 'post' })
          +input(f, 'email', 'E-Mail')
          +input(f, 'password', 'Password', { as: 'password' })
          +button('Log In')
