extends /layouts/application.pug

block content
  .container
    h1.text-center.my-5 Change password
    .row.justify-content-center.pb-5
      .col-12.col-lg-4
        +formFor(f, { url: urlFor('changePassword'), method: 'patch' })
          +input(f, 'password', 'Current password', false, { as: 'password' })
          +input(f, 'newPassword', 'New password', false, { as: 'password' })
          +input(f, 'confirmPassword', 'Confirm new password', false, { as: 'password' })
          +button('Change password')
