extends /layouts/application.pug

block content
  .container
    h1.text-center.my-5 User Profile
    .row.justify-content-center.pb-5
      .col-12.col-lg-4
        +formFor(f, { url: urlFor('profile'), method: 'patch' })
          +input(f, 'email', 'E-Mail', {label: true, as: 'text'})
          +input(f, 'firstName', 'First Name', {label: true, as: 'text'})
          +input(f, 'lastName', 'Last Name', {label: true, as: 'text'})
          +button('Save Changes')
        +formFor(f, { url: urlFor('deleteUser'), method: 'delete' })
          button.btn.btn-danger.btn-block(type='button', data-toggle='modal', data-target='#deleteUserModal') Delete User
          #deleteUserModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#exampleModalLabel.modal-title Warning
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body Are you sure you want to delete the profile?
                .modal-footer
                  .form-group
                    input(class=`btn btn-block btn-secondary` type=`button` value='Close' data-dismiss='modal')
                  +button('Delete Profile', 'danger')
