extends /layouts/application.pug

block content
  .container
    h1.text-center.my-5 User Profile
    .row.justify-content-center.pb-5
      .col-12.col-lg-4
        +formFor(f, { url: urlFor('profile'), method: 'patch' })
          +input(f, 'email', 'E-Mail', {label: true, as: 'text'})
          +input(f, 'firstName', 'First Name', {label: true, as: 'text'})
          +input(f, 'lastName', 'Last Name', {label: true, as: 'text'})
          +button('Save Changes')
        
        a.btn.btn-danger.btn-block(href=urlFor('deleteUser') data-method='delete'
        rel='nofollow' data-confirm='Are you sure you want to delete the profile?') Delete User
         